Pandas
Numpy
matplotlib
seaborn
scikit-learn
dbt
sqlalchemy 
psycopg2-binary
logging
streamlit
FASTAPI
Docker
dbt-core 
dbt-snowflake
snowflake-connector-python[pandas]
python-dotenv
jupyter 
ipykernel


